h1{
    font-family:arial, relvetica, sans-serif;
    margin:20px;
    line-height:1,6;
}

h2{
color: #085bba
}
h3{
color:#23aa2c
}

ul{
list-style:dix;
margin-left:20px;
}
p{
font-size:16px;
}

